* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #C4C4C4;
}

.header img {
    margin: 30px 50px;
}

.carrito {
    display: flex;
    margin: 20px;
}
.carrito img {
    margin: 0 20px;
}

.item {
    display: flex;
    align-items: center;
    width: 40%;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 25px;
    margin: 30px;
}

.item span {
    font-weight: 700;
    margin-left: 20px;
}

.compra {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 400px;
    height: 350px;
    margin-top: -120px;
    margin-left: 60%;
    margin-bottom: 20px;
}

.compra button {
    background-color: #4F4F4F;
    color:  white;
    font-weight: 700;
    font-size: 17px;
    width: 70%;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
}


.info {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 30px auto;

}
.questionsBottom {
    background-color: #4F4F4F;
    color:  white;
    font-weight: 700;
    font-size: 17px;
    width: 70%;
    border-radius: 5px;
    padding: 10px;
}

